<div ng-controller="labelStandardController" ng-init="initializeController()">
    <div class="go-top-btn"></div>
    <div class="content ">
        <div class="title-position box-shadow-1 clearfix">
            <h2>系统管理  > 标签  >  <span class="color-black">标准标签</span></h2>
        </div>
        <div class="label_content_main">
            
            <!--label_content_right-->
            <div class="label-busi-content">
                <!--label_right_header-->
                <div class=" label-busi-header ">
                    
                    <div class="pull-left label-margin" ng-hide="deleteMask" ng-show="ismainwindow == 'showlabel'">
                        <a assign-span-button  modText="查询" moduleCode="app.system.label.standard.search" role="button" ng-click="getMyInitLabel();" class="btn  btn-black label-busi-search"><i class="glyphicon glyphicon-search"></i> 查询</a>
                        <div class="common-extract-rightbtn">
                            <input type="text" name="title" placeholder="输入标签名称" ng-model="keyword" maxlength="100" class="input-xlarge form-control ng-isolate-scope ng-pristine ng-valid">
                        </div>
                    </div>
                    <div class="label_right_btn">
                        <!-- <span class="btn btn-black" ng-show="offlineLabel&&onlineLabel" ng-click="offLabel()">下线</span> -->
                        <!-- <span class="btn btn-success fontWeight" ng-hide="onlineLabel" ng-click="handleLabel('offline')">下线</span> -->
                        <!-- <span class="btn btn-default fontWeight" ng-hide="onlineLabel" ng-click="back('offline')">返回</span> -->
                        <span moduleCode="app.system.label.offLine" modText="下线" assign-span-button class="btn btn-success fontWeight"  ng-click="handleLabel('offline')">下线</span>
                    </div>
                    <div  class="label_right_btn">
                        <!-- <span class="btn btn-red" ng-show="onlineLabel&&offlineLabel" ng-click="onLabel()">上线</span> -->
                        <!-- <span class="btn btn-success fontWeight" ng-hide="offlineLabel" ng-click="handleLabel('online')">上线</span> -->
                        <!-- <span class="btn btn-default fontWeight" ng-hide="offlineLabel" ng-click="back('online')">返回</span> -->                        
                        <span moduleCode="app.system.label.standard.onLine" modText="上线" assign-span-button class="btn btn-success fontWeight"  ng-click="handleLabel('online')">上线</span>
                    </div>
                    
                </div>
                
               <!--label_right_content -->
                <div class="label-busi-content">
                    <!--label-main-item-common-->
                    <div class="label-busi-item"  ng-repeat="comm in myInitLabel" ng-class="{'offline-label-border':(comm.labStatus == 1)}" ng-hide="(isOnline && comm.labStatus == 2) || (isOffline && comm.labStatus == 1)">
                        <a href="javascript:;" ng-class="{'label-common-adddelete': comm.showdelete}" class="label-common-delete" ng-click="addLabelDelete(comm)"><i></i><span></span></a>
                        <!-- <a href="javascript:;" ng-class="{'label-common-adddelete': comm.showdelete}" class="label-common-delete" ng-show="deleteMask" ng-click="addLabelDelete(comm)"><i></i><span></span></a> -->
                        <div class="label-common-header" >
                            <div class="common-header-left" ng-class="{'offline-color':(comm.labStatus == 1)}" ng-bind="comm.labName"></div>
                            <div class="common-header-right">
                                <!--<a href="javascript:;" class="header-right-b" ng-click="getDataModal(comm)" ng-hide="comm.status=='下线'"></a>-->
                                <div class="header-right-a label-font-weight" ng-class="{'offline-color':(comm.labStatus == 1)}">
                                    <span class="label-red" ng-class="{'offline-color':(comm.labStatus == 1)}" ng-bind="comm.labCstCount"></span>
                                    <span class="label-black" ng-class="{'offline-color':(comm.labStatus == 1)}">人</span>
                                </div>
                            </div>
                        </div>
                        <div class="label-common-content" ng-class="{'offline-color':(comm.labStatus == 1)}" ng-bind="comm.labInfo"></div>
                        <div class="label-common-footer">
                            <div class="common-footer-left">
                                <div class="footer-left-a" ng-class="{'offline-color':(comm.labStatus == 1)}">
                                    <span>提取次数：</span>
                                    <span class="label-font-weight" ng-class="{'label-black':(comm.labStatus == 1)}"  ng-bind="comm.labExpCount"></span>
                                    <span ng-class="{'label-black':(comm.labStatus == 1)}" class="label-font-weight">次</span>
                                </div>
                                <div class="footer-left-b" ng-class="{'offline-color':(comm.labStatus == 1)}">
                                    <span>最新数据时间：</span><span ng-bind="comm.exectime"></span>
                                </div>
                            </div>
                            <div class="common-footer-right">
                                <a href="javascript:;" ng-click="seeLabelModal(comm)">查看详情</a>
                            </div>
                        </div>
                    </div>
                </div> 
                
            </div>
        </div>
    </div>
</div>

<!--查看标签详细-->
 <script type="text/ng-template" id="seeLabelDetail.html" ng-controller="labelStandardController">
        <div>
            <div class="modal-header create-label-header common-extract-header">
                <h3 class="modal-title common-extract-title" >查看标签</h3>
				<div class="common-extract-rightbtn">
		    		<span class="btn btn-success fontWeight" ng-click="onoffLabel()" ng-show="labelDetail.label.labStatus == 1">上线</span>
		    		<span class="btn btn-danger fontWeight" ng-click="onoffLabel()" ng-show="labelDetail.label.labStatus == 2">下线</span>
		    		<span class="btn btn-default fontWeight" ng-click="cancel()">返回</span>
				</div>
            </div>
            <div class="modal-body label-show-list">
				<div class="role-check-mask" ng-show="ischeck"></div>
              	<form class="form-horizontal clearfix" role="form">
                    <div class="table-form">
                    <table class="table table-striped">
                        <tbody>
                           <!-- <td class="textAlgin-right " width="150">客户类型:</td>
                        <td class="textAlgin-left" colspan="3">
                           <span ng-bind="CLDetail.customType"></span>
                        </td> -->
                            <tr>
                                <td class="textAlgin-right" width="150">标签名称:</td>
                                <td class="textAlgin-left"><span ng-bind="labelDetail.label.labName"></span></td>
                                <td class="textAlgin-right">标签编号:</td>
                                <td class="textAlgin-left"><span ng-bind="labelDetail.label.labCode"></span></td>
                            </tr>
                            <tr>
                                <td class="textAlgin-right" width="150">覆盖客户数:</td>
                                <td class="textAlgin-left color-red">
                                    <span ng-bind="labelDetail.label.labCstCount"></span><span>人</span></td>
                                <td class="textAlgin-right">最近数据时间:</td>
                                <td class="textAlgin-left"><span ng-bind="labelDetail.label.exectime"></span></td>
                            </tr>
                            <tr>
                                <td class="textAlgin-right" width="150">提取次数:</td>
                                <td class="textAlgin-left color-red"><span ng-bind="labelDetail.label.labExpCount"></span><span>次</span></td>
                                <td class="textAlgin-right">上次提取时间:</td>
                                <td class="textAlgin-left"><span ng-bind="labelDetail.label.lastExpTime"></span></td>
                            </tr>
							 <tr>
                              	<td class="textAlgin-right" width="150">客户类型:</td>
                                <td class="textAlgin-left"><span ng-bind="labelDetail.label.labCstType==1?'个人客户':'企业客户'"></span></td>
                                <td class="textAlgin-right">状态:</td>
                                <td class="textAlgin-left"><span ng-bind="labelDetail.label.labStatus==2?'上线':'下线'"></span></td>
                            </tr>
                            <tr>
                                <td class="textAlgin-right" width="150">标签描述:</td>
                                <td class="textAlgin-left" colspan="3">
                                    <textarea rows="3" class="form-control"  ng-bind="labelDetail.label.labInfo"></textarea>
                                </td>
                            </tr>
							<tr>
                                <td class="textAlgin-right" width="150">标签规则:</td>
                                <td class="textAlgin-left" colspan="3">

                                    <textarea rows="3" class="form-control"  >{{labelDetail.label.labRuleDesc}}</textarea>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
				<!-- <div ng-show="labelDetail.rules.length != 0">
                        <label class="">满足以下任一规则 <span class="fontSize12">（最多允许添加5种规则）</span></label>
                        <div class="role-content clearfix">
                            <div class="role-list" id="role-list" ng-repeat="rule in labelDetail.rules">
                                <label class="role-label color-red"><span ng-bind="rule.ruleFrameName"></span></label>
                                <div class="role-div no-top-border">
                                    <table class="table table-striped">
                                        <tbody>
                                            <tr>
                                               <td class="text-left" colspan="3">(同时满足以下条件，最多允许添加10个条件)</td>
                                            </tr>
                                            <tr ng-repeat="condiction in rule.condictions" >
                                                <td ng-bind="condiction.object.feaTitle" class="text-left role-check-td" width="300"></td>	
                                                <td ng-bind="condiction.object.feaRuleSymbol" class="text-left role-check-td" width="150"></td>	
                                                <td ng-bind="condiction.value" class="text-left role-check-td" width="300"></td>	
                                            </tr>
                                        </tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
-->
                    
                </form>

            </div>
        </div>
    </script>